<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- Mapperとxmlのマッピング -->
 <mapper namespace="com.portfolio.repository.ForecastMapper">
	 

 	<!-- マッピング定義（期間データ取得） -->

	  <resultMap id="forecastCalendarMap" type="com.portfolio.domain.forecast.model.ForecastCalendar">
	    <result property="calendarDate" column="calendar_date"/>
	    <result property="highestTemperature" column="highest_temperature"/>
	    <result property="studentsEnrolled" column="students_enrolled"/>
	    <result property="attendanceRate" column="attendance_rate"/>
	    <result property="issuedQuantities" column="issued_quantities"/>
	    <result property="stockQuantities" column="stock_quantities"/>
	    <result property="orderedQuantity" column="ordered_quantity"/>
	  </resultMap>



	<!--期間データ取得-->

	 <select id="generateForecastCalendar" resultMap="forecastCalendarMap">

		SELECT calendar.calendar_date
		      ,results.higest_temperature
		      ,results.students_enrolled
		      ,results.attendance_rate
		      ,results.issued_quantities
		      ,results.stock_quantities
		      ,orders.ordered_quantity
		 FROM (SELECT
		           @date := CURRENT_DATE() AS calendar_date
		       UNION ALL
		           SELECT @date := DATE_ADD(@date, INTERVAL 1 DAY)
		       FROM
		           information_schema.COLUMNS
		       WHERE
		           @date <![CDATA[ < ]]> DATE_ADD(CURRENT_DATE(), INTERVAL 17 DAY)
		      )calendar
		LEFT JOIN results
		       ON results.target_date = calendar.calendar_date
		LEFT JOIN orders
		       ON orders.deliveried_on = calendar.calendar_date
		WHERE NOT EXISTS (SELECT *
		                    FROM holiday_calendar
		                   WHERE holiday = calendar.calendar_date
		                 )
		ORDER BY calendar.calendar_date
	 </select>


 </mapper>


<!-- select holiday as calender_date-->
<!-- from holiday_calendar-->


<!--		SELECT calender.calender_date-->
<!--		      ,results.higest_temperature-->
<!--		      ,results.students_enrolled-->
<!--		      ,results.attendance_rate-->
<!--		      ,results.issued_quantities-->
<!--		      ,results.stock_quantities-->
<!--		      ,orders.ordered_quantity-->
<!--		 FROM (SELECT-->
<!--		           CURRENT_DATE() = CURRENT_DATE() AS calender_date-->
<!--		       UNION ALL-->
<!--		           SELECT CURRENT_DATE() = DATE_ADD(CURRENT_DATE(), INTERVAL 1 DAY)-->
<!--		       FROM-->
<!--		           information_schema.COLUMNS-->
<!--		       WHERE-->
<!--		           CURRENT_DATE() < DATE_ADD(CURRENT_DATE(), INTERVAL 17 DAY)-->
<!--		      )calender-->
<!--		LEFT JOIN results-->
<!--		       ON results.target_date = calender.calender_date-->
<!--		LEFT JOIN orders-->
<!--		       ON orders.deliveried_on = calender.calender_date-->
<!--		WHERE NOT EXISTS (SELECT *-->
<!--		                    FROM holiday_calendar-->
<!--		                   WHERE holiday = calender.calender_date-->
<!--		                 )-->






 
 