<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- Mapperとxmlのマッピング -->
 <mapper namespace="com.portfolio.repository.UserMapper">
	 
	 <!-- マッピング定義（ユーザー） -->
	 <resultMap type="com.portfolio.domain.todoItem.model.User" id="user">
		<id column="id" property="id" />
		<result column="user" property="user" />
		<result column="pass" property="pass" />
		<result column="family_name" property="familyName" />
		<result column="first_name" property="firstName" />
		<result column="is_admin" property="isAdmin" />
		<result column="is_deleted" property="isDeleted" />
	 </resultMap>
	 
	 <!-- ユーザー取得（全件） -->
	 <select id="findAll" resultMap="user">
		 select users.*
		   from users
	 </select>
	 
 	 <!-- ユーザー取得（１件） -->
	 <select id="findOne" resultMap="user">
		 select *
		   from users
		  where id = #{id}
	 </select>
	 	 
 	 <!-- ユーザ名からユーザー取得（１件） -->
	 <select id="findOneByUser" resultMap="user">
		 select *
		   from users
		  where user = #{user}
	 </select>
	 
  	 <!-- ログインユーザー情報取得 -->

	 <select id="findLoginUser" resultMap="user">
		 select *
		   from users
		  where user = #{user}
		    and is_deleted = 0
	 </select>

 </mapper>
 
 