<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Javascript読込 -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<!-- CSS読込 -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/forecastRegistration.css}">
    <title>予測情報登録</title>

</head>

	<body>
    <!-- ナビゲーション -->
    <nav layout:replace="~{layout/navbar::navbar}"></nav>
    <!-- ナビゲーション ここまで -->

    <!-- コンテナ -->
    <div class="container">
        <div class="container">
            <div class="row my-2">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 alert alert-info">
                    予測情報を登録してください
                </div>
                <div class="col-sm-3"></div>
            </div>

<!--      labels: [[ ${calendarDateArray} ]], -->

<h1>折れ線グラフ</h1>


<div class="row">
    <div class="col-sm-1" ></div>
					
    <div class="graph-area">
  		<canvas id="myLineChart"></canvas>
	</div>
</div>
  <script type="text/javascript" th:inline="javascript">
  var ctx = document.getElementById("myLineChart");
  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [[ ${calendarDateArray} ]], 
      datasets: [
        {
          label: '最高気温(度）',
          data: [[ ${temporaryStockQuantitiesArray} ]],
          tension: 0,
          borderColor: "rgba(255,0,0,1)",
          backgroundColor: "rgba(0,0,0,0)"
        }
      ],
    },
    options: {
      title: {
        display: true,
        text: '気温（8月1日~8月7日）'
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 40,
            suggestedMin: 0,
            stepSize: 10,
            callback: function(value, index, values){
              return  value +  '個'
            }
          }
        }]
      },
    }
  });
  </script>

            <!-- 入力フォーム -->
            <div class="row">
    			<div class="col-sm-1 p-0" >
    				<p>予想出庫数</p>
				</div>
                <div class="col ml-2 p-0">
                    
                    <form th:action="@{/Forecast/forecast}" method="post" th:object="${forecastForm}">


<!--                        <div class="text-danger" th:each="error : ${#fields.globalErrors()}"  th:text="${error}"></div>-->

							<div class="inputtext-div" th:each="item: *{forecastCalendar}">
								<input type="text" class="inputtext" th:value="${item.issuedQuantities}">
							</div>
							
<!--							削除 start-->
							<div class="inputtext-div" th:each="item: *{forecastCalendar}">
								<input type="text" class="inputtext" th:value="${item.temporaryStockQuantities}">
							</div>
<!--							削除　end-->
							
							
<!--    					<tr th:each="item: ${userList}">-->
<!--						<td th:text="${item.userId}"></td>-->
<!--						<td th:text="${item.userName}"></td>-->
<!--						<td th:text="${#dates.format(item.birthday, 'YYYY/MM/dd')}"></td>-->
<!--						<td th:text="${item.age}"></td>-->
<!--						<td th:text="${item.gender == 1} ? '男性': '女性'"></td>-->
<!--						<td>-->
<!--							<a class="btn btn-primary" th:href="@{'/user/detail/' + ${item.userId}}">-->
<!--								詳細-->
<!--							</a>-->
<!--						</td>-->
<!--						</tr>-->
						
    

<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
<!--    <input type="text" class="inputtext">-->
    
                        <div class="form-group">
<!--                            <label for="forecastPeriodStart" th:text="#{forecastPeriodStart}"></label>-->
<!--                            <input type="date" class="form-control" th:field="*{forecastPeriodStart}" th:errorclass="is-invalid">-->
<!--                            <div class="invalid-feedback" th:errors="*{forecastPeriodStart}"></div>-->
                        </div>


                        <div class="form-group">
<!--                            <label for="forecastPeriodEnd" th:text="#{forecastPeriodEnd}"></label>-->
<!--                            <input type="date" class="form-control" th:field="*{forecastPeriodEnd}" th:errorclass="is-invalid">-->
<!--                            <div class="invalid-feedback" th:errors="*{forecastPeriodEnd}"></div>-->
                        </div>

<!--
                        <div class="form-group">
                            <label for="user_id" th:text="#{userName}"></label>
                            <select class="form-control" th:field="*{userId}" th:errorclass="is-invalid">
	                                <option value="">--選択してください--</option>
								<div th:each="user_item : ${userList}">
	                                <option th:value="${user_item.id}" th:text="|${user_item.familyName}${user_item.firstName}|"></option>
                            </select>
                            <div class="invalid-feedback" th:errors="*{userId}"></div>
                        </div>
                        <div class="form-group">
                            <label for="expireDate" th:text="#{expireDate}"></label>
                            <input type="date" class="form-control" th:field="*{expireDate}" th:errorclass="is-invalid">
                            <div class="invalid-feedback" th:errors="*{expireDate}"></div>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" th:field="*{isFinished}">
                            <label for="isFinished" th:text="#{isFinished}"></label>
                        </div>
              	              
-->
                        <input type="submit" value="決定" class="btn btn-primary">
                        <input type="button" value="キャンセル" class="btn btn-outline-primary"
                            onclick="location.href='/Home';">
                            

                    </form>


                </div>
            </div>
            <!-- 入力フォーム ここまで -->

        </div>
        <!-- コンテナ ここまで -->


</body>

</html>